.about-page {
  background-color: #1b1b1b;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 0rem;
}

.about-us-content {
  max-width: 800px;
  text-align: center;
}

.about-us-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.team-member {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.team-member h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1.2rem;
}

.about-image {
  max-width: 100vw;
}