// medieval-themed colours
$primary-color: #8b0000; // Dark Red
$secondary-color: #2e2e2e; // Dark Gray
$background-color: #f5e1da; // Light Beige
$text-color: #000; // Black
$button-color: #ffd700; // Gold

.adventure-page {
  background-color: #201E20;
  min-height: 100vh;
  padding: 16px;
}

.adventure-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #DDC3A5;
  color: white;
  border: 2px solid #4d4d4d;
  border-radius: 20px;
  
  .title-container {
    display: flex;
    width: 80%;
    background-color: #E0A96D;
    border-radius: 20px;
    text-align: center;
    margin: 10%;
    padding: 2%;
    padding-bottom: 0;
  }

  h1 {
    color: white;
  }

  p {
    font-size: 26px;
    padding: 5%;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #E0A96D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5%;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }
}
