
.custom-background-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #5a3a24; /* A dark, medieval-style background color */
}

.custom-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #DDC3A5, 0.5;
  background-image: url("../../public/images/tavern.png");
  background-size: cover; /* Make the background image responsive */
  background-position: center; /* Center the background image */
  padding: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.custom-title {
  font-size: 36px;
  font-family: 'Helvetica Neue', sans-serif; 
  color: black;
  background-color: rgb(221, 195, 165, 0.4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  border-radius: 20px;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
