/* Custom Container styles */
.custom-background-container {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

/* Custom Background image styles */
.custom-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/vancouver.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  z-index: -1;
}

/* Custom Container content styles */
.custom-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Custom Title styles with text stroke (border around letters) and text shadow */
.custom-title {
  font-size: 36px;
  color: #f4f5ae;
  -webkit-text-stroke: 2px #ec9430; 
  text-shadow: 5px 5px 5px rgba(17, 18, 18, 0.9);
}



